@switch (Mode)
{
    case ConferenceDetailsModes.Show:
        <h3>Conference Details</h3>
        break;

    case ConferenceDetailsModes.New:
        <h3>New Conference</h3>
        break;

    case ConferenceDetailsModes.Edit:
        <h3>Edit Conference</h3>
        break;
}

@code {
    [Parameter]
    public string Mode { get; set; }
}
