@page "/conferences"

@using DTO = BASTAConfTool.Shared.DTO
@using BASTAConfTool.Client.Services

@inject ConferencesClientService _conferencesClient
@inject NavigationManager _navigation

<h1>Conferences</h1>

@if (_conferences == null)
{
    <p><em>Fetching conferences...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            <Virtualize Items="@_conferences" Context="conf">
                <tr @onclick="() => LoadDetails(conf.ID)" @key="conf.ID">
                    <td>@conf.Title</td>
                </tr>
            </Virtualize>

        </tbody>
    </table>
}

@code {
    private List<DTO.ConferenceOverview> _conferences;

    protected override async Task OnInitializedAsync()
    {
        _conferences = await _conferencesClient.GetConferencesAsync();
    }

    private void LoadDetails(Guid id)
    {
        _navigation.NavigateTo("conferences/" + id);
    }
}
